body{
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: #e1e6f9;
}

.button{
    --primary: #275efe;
    --primary-dark:#2055ee;
    --primary-darkest: #133fc0;
    --text: #fff;
    --text-opacity:1;
    --success:#2b3044;
    --success-scale: .2;
    --success-opacity: 0;
    --border-radius:7;
    --overflow: hidden;
    --rotate:0;
    --plane-x:0;
    --plane-y:0;
    --plane-opacity:1;
    --left-wing-background:var(--primary);
    --left-wing-first-x:0;
    --left-wing-first-y:0;
    --left-wing-second-x:50;
    --left-wing-second-y:0;
    --left-wing-third-x:0;
    --left-wing-third-y:100;
    --left-body-backgroud:var(--primary);
}